body {
  font-family: 'Fredoka One', cursive;
}

.bg {
  background-color: #b3fbff;
  background: repeating-linear-gradient(-20deg, #c9fcff 4px, #d4fdff 40px);
  height: 30em;
  position: relative;
}

h1 {
  color: #990073;
  position: absolute;
  transform: rotate(-14deg) translate(.7em, 1.2em);
}

p {
  color: #c09;
  position: absolute;
  transform: rotate(-9deg) translate(2em, 6em);
  max-width: 19em;
}

a {
  position: absolute;
  transform: translate(4em, 14em);
}

.btn {
  text-decoration: none;
  color: #c09;
}

.btn-ghost {
  border: solid 4px #990073;
  padding: .5em 1em;
  border-radius: 3px;
}

a:hover {
  background-color: rgba(70, 0, 0, 0.5);
}

.cream-container {
  position: relative;
}

.cherry {
  z-index: 5;
  position: absolute;
  transform: translate(8.5em, -20em) scale(0.8);
  animation: falling-cherry .5s .8s forwards;
}

.vanilla {
  transform: translate(5.5em, -13.5em) scale(0.8);
  z-index: 4;
  position: absolute;
  animation: falling-vanilla .5s .6s forwards;
}

.chocolate {
  transform: translate(6em, -18em) scale(0.8);
  z-index: 3;
  position: absolute;
  animation: falling-choco .5s .4s forwards;
}

.mint {
  transform: translate(5.5em, -13em) scale(0.8);
  position: absolute;
  animation: falling-mint .5s .2s forwards;
}

.cone {
  transform: translate(6em, -18.5em) scale(0.8);
  position: absolute;
  animation: falling-cone .5s forwards;
}

@keyframes falling-cone {
  0% {
    transform: translate(6em, 0) scale(0.8);
  }

  100% {
    transform: translate(6em, 17em) scale(0.8);
  }
}

@keyframes falling-mint {
  0% {
    transform: translate(6em, 0) scale(0.8);
  }

  100% {
    transform: translate(5.5em, 12em) scale(0.8);
  }
}

@keyframes falling-choco {
  0% {
    transform: translate(6em, 0em) scale(0.8);
  }

  100% {
    transform: translate(6em, 8em) scale(0.8);
  }
}

@keyframes falling-vanilla {
  0% {
    transform: translate(5.5em, 0em) scale(0.8);
  }

  100% {
    transform: translate(5.5em, 3.5em) scale(0.8);
  }
}

@keyframes falling-cherry {
  0% {
    transform: translate(8.5em, 0) scale(0.8);
  }

  100% {
    transform: translate(8.5em, 1em) scale(0.8);
  }
}
