body {
  font-family: "Fredoka One", sans-serif;
}

.bg {
  background: repeating-linear-gradient(-20deg, #c9fcff 4px, #d4fdff 40px);
  min-height: 27em;
  position: relative;
  background-color: #b3fbff;
}

h1 {
  color: #c09;
  position: absolute;
  transform: rotate(-14deg) translate(.7em, 1.2em);
  animation: texty .5s .8s forwards;
  opacity: 0;
  filter: blur(11px);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
}

p {
  color: #c09;
  position: absolute;
  transform: rotate(-9deg) translate(2em, 6em);
  max-width: 19em;
  animation: texty .5s .8s forwards;
  opacity: 0;
  filter: blur(11px);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
}

a {
  position: absolute;
  transform: translate(4em, 14em);
  animation: texty .5s .8s forwards;
  opacity: 0;
  filter: blur(11px);
}

.btn {
  text-decoration: none;
  color: #c09;
}

.btn-ghost {
  border: solid 4px #990073;
  padding: .5em 1em;
  border-radius: 3px;
}

.btn-ghost:hover {
  background-color: rgba(0, 0, 0, .5);
  border: solid 4px #990073;
  color: #990073;
}

.cream-container {
  position: relative;
}

.cherry {
  z-index: 5;
  position: absolute;
  transform: translate(8.5em, -20em) scale(.6);
  animation: falling-cherry .5s .8s forwards;
}

.vanilla {
  transform: translate(5.5em, -13.5em) scale(.6);
  z-index: 4;
  position: absolute;
  animation: falling-vanilla .5s .6s forwards;
}

.chocolate {
  transform: translate(6em, -18em) scale(.6);
  z-index: 3;
  position: absolute;
  animation: falling-choco .5s .4s forwards;
}

.mint {
  transform: translate(5.5em, -13em) scale(.6);
  position: absolute;
  animation: falling-mint .5s .2s forwards;
}

.cone {
  transform: translate(6em, -18.5em) scale(.6);
  position: absolute;
  animation: falling-cone .5s forwards;
}

@keyframes falling-cone {

  0% {
    transform: translate(6em, 0) scale(.6);
  }

  100% {
    transform: translate(6em, 16em) scale(.6);
  }

}

@keyframes falling-mint {

  0% {
    transform: translate(6em, 0) scale(.6);
  }

  100% {
    transform: translate(5.4em, 12em) scale(.6);
  }

}

@keyframes falling-choco {

  0% {
    transform: translate(6em, 0) scale(.6);
  }

  100% {
    transform: translate(5.9em, 8em) scale(.6);
  }

}

@keyframes falling-vanilla {

  0% {
    transform: translate(5.5em, 0) scale(.6);
  }

  100% {
    transform: translate(5.5em, 4.5em) scale(.6);
  }

}

@keyframes falling-cherry {

  0% {
    transform: translate(8.5em, 0) scale(.6);
  }

  100% {
    transform: translate(9em, 2.8em) scale(.6);
  }

}

@keyframes texty {

  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    filter: blur(0);
  }

}
